body{
	padding: 20px;
}

.label{
	font-weight: 700;
}

.textbox{
	padding: 5px;

	border: 1px solid #ccc;
	border-radius: 5px;
}

.textbox-short{
	width: 200px;

}

.textbox-long{
	width: 400px;
}

.form-wrapper {
}

.visibility{
	display: none;
}

.update-form{
	border: 0;
	margin: 0;
	padding: 0;
}

.update-form label{
	padding: 3px;
}

.update-form input,
.update-form textarea {
	display: block;
	padding: 5px;
	border-radius: 5px;
	border: 1px solid #ccc;
	margin: 5px;
}

.update-form textarea{
	height: 78px;
}

.button {
	border: none;
	background: #f01a6d;
	color: #fff;
	padding: 3px 30px;
	border-radius: 5px;
	margin: 5px;
}